.container {
  align-items: center;
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.badge {
  border-radius: 2px;
  color: white;
  flex-shrink: 0;
  line-height: 1;
  margin-right: 10px;
  padding: 4px 6px;
  white-space: nowrap;
}

.text {
  flex-shrink: 0;
  line-height: 1;
  margin-right: 10px;
  white-space: nowrap;
}

.progressBar {
  background-color: rgb(243, 243, 243);
  height: 2px;
  position: relative;
  width: 100%;
}

.progressFill {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
